<form [formGroup]="miFormulario" novalidate>
    <div (keypress)="pulsarIntro($event)" class="container p-5 my-5 bg-dark text-white">
        <label>
            Pregunta:
            <input formControlName="formPregunta"
                type="text"
                class="form-control"
                [ngClass]="{
                    'incorrecto': formPregunta.invalid && formPregunta.dirty,
                    'correcto': formPregunta.valid
                }">
        </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <label>
            Respuesta:
            <input formControlName="formRespuesta"
                type="text"
                class="form-control"
                [ngClass]="{
                    'incorrecto': formRespuesta.invalid && formRespuesta.dirty,
                    'correcto': formRespuesta.valid
                }">
        </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <button [disabled]="miFormulario.invalid" class="btn btn-outline-success" (click)="crearBroma()">Añadir Pregunta</button><br>
        <!-- Añadir este error en cada campo y con los 2 errores con .errors['minLengt'] y el required -->
        <label id="err" *ngIf="miFormulario.invalid && formPregunta.touched">Rellena todos los campos para añadir una pregunta.</label>
    </div>
</form>